#one{
    background-color: black;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}
#two{
    background-color: rgb(36, 14, 78);
    height: 40px;
    width: 40px;
    border: 1px solid black;
}
#three{
    background-color: rgb(71, 43, 122);
    height: 40px;
    width: 40px;
    border: 1px solid black;
}
#four{
    background-color: rgb(134, 98, 199);
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

#one, #two, #three, #four{
    display:inline-flex
}
/* .pixel-board{
    background-color: white;
    border: 1px solid black;
}
.pixel{
    background-color: white;
    border: 1px solid black;
    height: 39px;
    width: 39px;
} */